<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/349cb35268.js" crossorigin="anonymous">
	</script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
		integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>DesignDev</title>
</head>

<body>
	<nav class="navbar">
			<span>Limch</span>

		<ul class="navbar__menu">
			<li><a href="">About me</a></li>
			<li><a href="">Design</a></li>
			<li><a href="">Develop</a></li>
			<li><a href="">Project</a></li>
			<li><a href="">Blog</a></li>
		</ul>

		<ul class="navbar__icons">
			<li><a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a></li>
			<li><a href="https://www.naver.com"><i class="fab fa-instagram"></i></a></li>
			<li><a href="/write">글쓰기</a></li>
		</ul>

		<a href="#" class="navbar__toggleBtn"><i class="fas fa-bars"></i></a>
	</nav>

	<div class="container">
		<div class="posts">
			<% posts.map(post => { %>
				<article class="post" id="<%= post._id %>">
					<div class="postMain">
						<img class="image"
						src="https://media.vlpt.us/images/sangh518/post/9d70fb8c-93c3-4444-9ee2-612174dbce35/썸네일.png?w=640"></>
						<div class="content">
							<h4 class="title"><%= post.title %></h4>
							<p class="text"><%= post.text.slice(0, 125) %></p>
						</div>
					</div>
					<div class="meta">
						<a class="user" href="">
							<div class="thumnail"></div>
							<span class="nickName">by <b>userName</b></span>
						</a>
						<div class="likes">
							<i class="fas fa-heart"></i>
							<span>32</span>
						</div>
					</div>
				</article>
			<% }) %>
		</div>
	</div>
	<footer></footer>
	<script src="js/main.js" defer></script>
</body>

</html>
