<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/349cb35268.js" crossorigin="anonymous">
	</script>
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>DesignDev</title>
</head>

<body>
	<nav class="navbar">
			<span>Limch</span>

		<ul class="navbar__menu">
			<li><a href="">About me</a></li>
			<li><a href="">Design</a></li>
			<li><a href="">Develop</a></li>
			<li><a href="">Project</a></li>
			<li><a href="">Blog</a></li>
		</ul>

		<ul class="navbar__icons">
			<li><a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a></li>
			<li><a href="https://www.naver.com"><i class="fab fa-instagram"></i></a></li>
			<li><a href="/write">글쓰기</a></li>
		</ul>

		<a href="#" class="navbar__toggleBtn"><i class="fas fa-bars"></i></a>
	</nav>

	<div class="container">
		<aside class="side">
			<div></div>
		</aside>
		<main>
			<% posts.map(post => { %>
				<article class="post">
					<h1><%= post.title %></h1>
					<span><%= post.text %></span>
				</article>
			<% }) %>
		</main>
	</div>
	<footer></footer>
	<script src="js/main.js" defer></script>
</body>

</html>
