@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700;900&display=swap');

:root {
  --MainBackColor: #f8f9fa;
  --postBackColor: white;
  --TextColor: black;
  --blueColor: #306fdc;
  --pageMargin: 240px;
  --padding-vertical: 24px;

  /*post size*/
  --postWidth: 20rem;
  --postHeight: 21rem;
  --postMargin: 1rem;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Source Sans Pro', sans-serif;

  background-color: var(--MainBackColor);
}

a {
  text-decoration: none;
  color: var(--TextColor);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--MainBackColor);
  padding: 12px var(--pageMargin);
  padding-top: var(--padding-vertical);
}

.navbar span {
  font-family: 'Source Code Pro', monospace;
  color: var(--TextColor);
  font-size: 24px;
}

.navbar__icons span {
  font-size: 12px;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 24px;
}

.navbar__menu li:hover a {
  color: var(--blueColor);
}

.navbar__icons {
  list-style: none;
  color: white;
  display: flex;
  padding-left: 0;
}

.navbar__icons li {
  padding: 8px 12px;
}

.navbar__toggleBtn {
  display: none;
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 24px;
  color: var(--TextColor);
}

.container {
  width: 1728px;
  margin-right: auto;
  margin-left: auto;

  display: block;
}

/**************************posts***************************/
.posts {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem; /*안쪽 간격은 유지하되, 바깥쪽 간격만 지울 수 있는 꿀팁*/
  margin-top: 2rem;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: var(--postWidth);
  height: var(--postHeight);
  margin: 1rem;

  background-color: var(--postBackColor);
  box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
  border-radius: 4px;
  transition: margin-top 0.25s;

  font-family: 'Noto Sans KR', sans-serif;
}

.post:hover {
  text-decoration: none;
  margin-top: 0.5rem;
}

.post .image {
  padding: 0;

  width: 100%;
  height: 167px;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: lemonchiffon;
}

.post div {
  padding: 1rem;
}

.post .postMain {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.post .content {
  display: flex;
  flex-direction: column;
}

.post .content .title {
  font-size: 1rem;
  font-weight: 700;
}

.post .content .text {
  font-size: 0.875rem;
  font-weight: 400;
}

/***************Meta Data************/
.post .meta {
  font-size: 0.875rem;
  display: flex;
  border-top: rgb(248, 249, 250) 1px solid;
  justify-content: space-between;
  align-items: center;

  padding: 0.6rem 1rem;
}

.meta .user {
  display: flex;
  align-items: center;
  font-weight: 100;
}

.meta .user .thumnail {
  background-color: gray;
  padding: 0;
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 0.5rem;
  border-radius: 0.875rem;
}

.meta .user .nickName b {
  font-weight: 400;
}

.meta .likes {
  display: flex;
  align-items: center;
  padding: 0;
}

.likes .fas {
  margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px, 24px;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__menu li:hover {
    border-radius: 0px;
  }

  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar__toggleBtn {
    display: block;
  }

  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
}
