@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');

:root {
  --main-background-color: black;
  --main-color: white;

  --colorBackContain: green;

  --colorBackEdit: white;
  --colorEdit: transparent;
  --colorBackTitleEdit: transparent;
  --paddingEdit: 64px;
  --sizeFontTitle: 2.75em;
  --sizeFontText: 1em;
  --colorBackExitUI: white;

  /* Exit var */
  --exitBarHeight: 68px;
  --paddingExit: 12px;
  --sizeFontButton: 1.2em;
  --widthButton: 104px;
  --paddingHButton: 12px;
  --paddingVButton: 8px;
  --radiusButton: 8px;

  --colorExitButton: white;
  --colorExitButtonHover: rgb(228, 228, 228);
  --colorPreSaveButton: #dce1e6;
  --colorPreSaveButtonHover: #e5eaee;
  --colorUploadButton: #14b988;
  --colorUploadButtonHover: #16c28e;

  --colorBackView: #fbfdfc;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

*:focus {
  outline: none;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--main-background-color);
  color: var(--main-color);
}

.container {
  display: flex;

  height: 100vh;

  background-color: var(--colorBackContain);
}

.editTool {
  display: flex;
  flex-direction: column;
  width: 50vw;

  background-color: var(--colorBackEdit);
  color: var(--colorEdit);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  z-index: 5;
}

/*editTool .title*/
.title {
  border: none;
  resize: none;

  margin: var(--paddingEdit);
  width: calc(100% - var(--paddingEdit) * 2);

  font-family: 'Noto Sans KR', sans-serif;
  font-size: var(--sizeFontTitle);
  font-weight: 500;
  background-color: var(--colorBackTitleEdit);
  color: black;
}

.editTool .title::placeholder {
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
}

.editTool .title:focus {
  border: none;
}

/*editToll .text*/
.text {
  border: none;
  resize: none;

  margin: 0;
  padding-right: var(--paddingEdit);
  padding-left: var(--paddingEdit);
  width: calc(100% - var(--paddingEdit) * 2);

  color: black;

  font-family: 'Noto Sans KR', sans-serif;
  font-size: var(--sizeFontText);
  font-weight: 500;
  background-color: var(--colorBackTitleEdit);
}

.editTool .text {
  height: calc(
    100vh - var(--paddingEdit) * 2 - var(--exitBarHeight) - var(--sizeFontTitle)
  );
}

.editTool .exitUI {
  display: flex;
  justify-content: space-between;

  /*position: fixed 일때, 부모가 브라우저 창이 됨*/
  width: 50vw;

  position: fixed;
  bottom: 0px;
  z-index: 10;

  background-color: var(--colorBackExitUI);
}

.exitUI {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.exitUI button {
  padding: var(--paddingVButton);
  padding-left: var(--paddingHButton);
  padding-right: var(--paddingHButton);
  border: none;
  width: var(--widthButton);
  font-size: var(--sizeFontButton);
  margin: var(--paddingExit);
  border-radius: var(--radiusButton);
}

.exit {
  background-color: var(--colorExitButton);
}

.exit:hover {
  background-color: var(--colorExitButtonHover);
}

.preSave {
  background-color: var(--colorPreSaveButton);
}

.preSave:hover {
  background-color: var(--colorPreSaveButtonHover);
}

.upload {
  color: white;
  background-color: var(--colorUploadButton);
}

.upload:hover {
  color: white;
  background-color: var(--colorUploadButtonHover);
  cursor: pointer;
}

.exitUI .right {
  display: flex;
}

.right button {
  margin-left: 0;
  margin-right: var(--paddingExit);
}

.view {
  display: flex;
  flex-direction: column;
  width: 50vw;
  background-color: var(--colorBackView);
}
